.userProfile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}


.userprofiledetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: yellow;
}


.userProfileDetails img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 20px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.userProfileDetails img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.userInfo {
    margin-left: 10px;
}

/* PROFILE PICTURE STYLES */

.profilePictureContainer {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    background-color: green;
}

.profilePicture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.cameraOverlay {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profilePictureContainer:hover .camera-overlay {
    opacity: 0.8;
}

.companionsLink {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.companionsLink:hover {
    color: #0056b3;
    text-decoration: underline;
}


/* COMPANION STYLES */

.userCompanions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.companionsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%;
}

.companionItem img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.companionItem h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}
.companionItem p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
.companionItem:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.companionItem:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.companionItem:hover h3 {
    color: #007bff;
    transition: color 0.3s ease;
}