.userProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 20px;
    padding: 10px;
}

.userProfileDetails {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-color);
    color: var(--primary-color-dark);
    padding: 20px 40px;
    border-radius: 10px;
    border: 1px solid var(--primary-color-dark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90vw;
}

.userProfileHeader {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.activeAndLocation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.companionStatusSendRequest {
    border: 1px solid var(--primary-color-dark);
    border-radius: 6px;
    padding: 6px 12px;
    transition: 0.2s ease-in-out;
}

.companionStatusSendRequest:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.companionStatusRequestSent {
    border: 1px solid var(--border-grey);
    color: var(--text-color-grey);
    background-color: var(--background-grey);
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
}

.companionStatusAccepted {
    border: 1px solid var(--border-grey);
    color: var(--text-color-grey);
    background-color: var(--background-grey);
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
}

.companionStatusAccepted:hover {
    cursor: pointer;
    background-color: var(--grey-hover);
}

.removeCompanion {
    position: absolute;
    display: flex;
    margin: 4px 0px;
    color: red;

}

.removeCompanion p {
    color: red;
}

.removeCompanion:hover {
    cursor: pointer;
    text-decoration: underline;
}


.userInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 1vh;
    width: 100%;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user h4 {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  word-break: break-word;
  white-space: normal;
  line-height: 1.4;
  max-height: calc(1.4em * 4);
}


.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 90%;
}

.clickable {
  cursor: pointer;
}

.about h5 {
    font-weight: bold;
}

.updateIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}

.updateIcon:hover {
    background-color: #d4d3d3;
}


/* PROFILE PICTURE STYLES */

.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 10vh;
    width: 15vw;
    justify-content: center;
    align-items: center;
    gap: 1vh;
  }


.profilePicture {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    overflow: hidden;
    border: 2px solid var(--primary-color-dark);
}

.profilePicture img {
    width: 120px;
    height: 120px;
}


.cameraOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: opacity 0.3s ease;
    cursor: pointer;
    opacity: 0;
}

.cameraOverlay:hover {
    opacity: 0.8;
}

.infoCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 5px;
  width: 20vw;
  background-color: var(--background-color);
}

.infoCard hr {
  width: 100%;
  margin-bottom: 12px;
  border: none;
  border-top: 1px solid var(--primary-color-dark);
}

.infoCard p {
  word-break: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
}

.user h4,h5 {
  word-break: break-word;
  white-space: pre-wrap;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
  width: 20vw;
  background-color: var(--background-color);
  border-radius: 10px;
}

.contacts hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--primary-color-dark);
}

.contactItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  align-items: flex-start;
}

.contactItem h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.contactItem p {
  margin: 4px 0 0 0;
  font-size: 14px;
  color: var(--primary-color-dark);
  word-break: break-word;
  line-height: 1.5;
}


.organizerRating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
  width: 20vw;
  background-color: var(--background-color);
  border-radius: 10px;
  text-align: left;
}

.organizerRating hr {
  width: 100%;
  margin-bottom: 12px;
  border: none;
  border-top: 1px solid var(--primary-color-dark);
}

.organizerRating p {
  font-size: 14px;
  color: var(--primary-color-dark);
}


.infoCard,
.contacts,
.organizerRating {
  height: 100%;
  min-height: 200px;
  box-sizing: border-box;
  min-height: 10vh;
}


/** ATTENDEDEVENTS CONTAINER */

.eventsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eventsContainer h3, p {
    color: var(--primary-color-dark);
}

.eventCard {
  display: grid;
  grid-template-columns: 150px 1fr 200px;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: var(--background-color);
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

.eventImage img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: 2px solid var(--primary-color-dark);
  object-fit: cover;
}

.eventInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  overflow: hidden;
  max-width: 100%;
}

.eventInfo:hover {
    text-decoration: underline;
    cursor: pointer;
}

.eventInfo h3 {
  margin: 0;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.eventDetails p {
  margin: 0;
}


.eventTimeDate {
    color: var(--primary-color-dark);
}

.eventTimeDate:hover {
    cursor: pointer;
}

.icon {
  margin-right: 0.5rem;
  color:var(--primary-color-dark)
}


.companionsContainer {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: flex-start;
    border: 1px solid var(--primary-color-dark);
    padding: 20px;
}

.companionsContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--primary-color-dark)
}


.companion {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 10px;
  gap: 5px;
  align-items: center; 
  text-align: center;
  width: 10vw;
}

.companion h6 {
  word-break: break-word;
  white-space: pre-wrap;
  text-align: center;
}

.companion:hover {
    cursor: pointer;
    background-color: var(--grey-hover);
}

/* STATS */

.tabContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.tabMenu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.tabMenu label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 10px;
    width: 100%;
    background-color: var(--background-color);
}

.tabMenu h5,h6 {
    margin: 0px;
}

.tabMenu label:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

.activeTab {
  font-weight: bold;
  transform: scale(1.02);
  border-bottom: 3px solid var(--primary-color-dark);
}

.badgeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-color);
    border-radius: 8px;
    color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
}

.badgeContainer h4 {
    margin: 0;
    font-size: 18px;
}

.badgeContainer ul {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    padding: 0;
}

.badgeContainer li {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
    padding: 10px;
    align-items: center;
}


.badgeContainer img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}


.badgeInfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.userReviews {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.eventInfo h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.eventInfo p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}



@media (max-width: 768px) {
  .userProfile {
    min-width: auto;
    width: 90vw;
    margin: 0;
    padding: 5px;
  }

  .cameraOverlay {
    opacity: 0.8;
  }

  .userProfileDetails {
    min-width: auto;
    width: 100%;
    padding: 15px;
  }

  .userProfileHeader {
    top: -2vh;
  }

  .userInfo {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px;
    margin-top: 5vh;
  }

  .about {
    flex-direction: column;
    margin: 0;
    gap: 10px;
  }

  .tabMenu {
    flex-direction: column;
    gap: 5px;
    width: 90%;
  }

  .eventCard {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .eventImage img {
    width: 100px;
    height: 100px;
  }

  .companionsContainer {
    flex-direction: column;
    grid-template-columns: repeat(1,1fr);
  }

  .companion {
    margin-bottom: 20px;
    align-items: center;
    width: unset;
  }

  .badgeContainer ul {
    grid-template-columns: repeat(1, 1fr);
  }  

  .badgeContainer li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .userReviews {
    position: static;
    margin-top: 10px;
    text-align: center;
  }

  .profile,
  .infoCard,
  .contacts,
  .organizerRating {
    height: 100%;
    min-height: unset;
    width: 85vw;
    box-sizing: border-box;
    min-height: 10vh;
  }
}
