.carContainer {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color-dark);
    border-radius: 12px;
    margin-top: 5vh;
    color: var(--primary-color-dark);
}

.carCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    border: 1px solid var(--primary-color-dark);
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--background-color);
}

.addButton {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 10vw;
    margin: 10px 0;
    padding: 8px 12px;
    background-color: var(--primary-color-dark);
    color: var(--background-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.addButton:hover {
    background-color: var(--primary-color);
    color: white;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

input::placeholder {
    color: var(--primary-color-dark);
}

.modalContent {
    background-color: var(--background-color);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
}

.modalContent input {
    padding: 6px;
    border: 1px solid var(--primary-color-dark);
    border-radius: 4px;
}

.cancelButton {
    background-color: rgb(150, 0, 0);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}


.saveButton:hover {
    background-color: rgb(85, 166, 190);
}

.cancelButton:hover {
    background-color: rgb(114, 19, 19);
}

.deleteButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-top: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.deleteButton:hover {
  background-color: #c0392b;
}


@media (max-width: 768px) {
    
    .carContainer {
        padding: 10px;
        margin: 5px 0px;
    }

    .addButton {
        width:unset;
    }
}