.chatContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color-dark);
    height: 750px;
    width: 100%;
    max-width: 30vw;
    padding: 20px;
    border-radius: 0px 6px 6px 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: var(--primary-color-dark);
    
}

.chatContainer label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-color-dark);
}


.messageList {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color-dark);
    border-radius: 4px;
    min-height: 500px;
    margin-bottom: 10px;
    gap: 6px;
    text-align: left;
    overflow-x: hidden;
}

.otherChat, .ownChat {
  display: flex;
  align-items: flex-start;
  margin: 4px 4px;
  width: 100%;
}

.ownChat {
  flex-direction: row-reverse;
}

.otherChat {
  justify-content: flex-start;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 8px;
}

.avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--primary-color-dark);
  cursor: pointer;
}

.avatar h4 {
  font-size: 12px;
  margin-top: 2px;
  text-align: center;
}

.messageBubble {
  background-color: var(--chat-other-bubble);
  padding: 10px 14px;
  border-radius: 12px;
  position: relative;
  word-break: break-word;
}

.ownChat .messageBubble {
  background-color: var(--chat-own-bubble);
}

.messageText {
  margin: 0;
  font-size: 14px;
}

.timestamp {
  font-size: 10px;
  margin-top: 4px;
  display: block;
  text-align: right;
}

.messageBubble::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
}

.otherChat .messageBubble::after {
  left: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid var(--chat-other-bubble);
}

.ownChat .messageBubble::after {
  right: 0px;
  border-top: 10px solid transparent;
  border-right: 10px solid var(--chat-own-bubble);
}

.sendChatMessageContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.sendChatMessage {
  width: 100%;
}

.sendChatMessage textarea {
    flex: 1;
    border-radius: 6px;
    border: 1px solid var(--primary-color-dark);
    font-size: 14px;
    resize: none;
    width: 94%;
    transition: border-color 0.3s;
    max-height: 100px;
    color: var(--primary-color-dark);
    background-color: var(--background-color);
}

.sendChatMessage textarea::placeholder {
    color: var(--primary-color-dark);
}

.sendChatMessage  textarea:disabled {
  background-color: rgb(241, 241, 241);
}

.emptyChatMessage {
  text-align: center;
  color: #999;
  padding: 40px 0;
  font-style: italic;
  font-size: 14px;
}



@media (max-width: 768px) {
  .chatContainer {
    padding: 20px;
    margin: 10px;
    min-width: unset;
    width: 85vw;
    max-width: unset;
    height: 500px;
  }

  .messageList {
    min-height: 300px;
    overflow-y: auto;
  }

  .avatar img {
    height: 32px;
    width: 32px;
  }

  .avatar h4 {
    font-size: 10px;
  }

  .messageBubble {
    font-size: 13px;
  }

  .sendChatMessageContainer {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .sendChatMessageContainer textarea {
    padding: 8px;
    font-size: 14px;
    color: var(--text-color);
  }
}
