/** HEADER MAIN **/

header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    width: 100%;
    border-bottom: 1px solid var(--primary-color-dark);
}

/** LOGO */

header .logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

header .logoContainer img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--input-background);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border: 2px solid var(--primary-color-dark);
}

header .logoContainer img:hover {
    transform: scale(1.05);
}

/** NAVMENU */

header .headerMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .headerMenu span {
    position: relative;
    font-size: 14px;
    color: var(--primary-color-dark);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: border-bottom 0.3s ease;
}

header .headerMenu span:hover {
    transform: translateY(-2px);
    transition: border-bottom 0.3s ease;
}

.headerMenu span label {
    cursor: pointer;
    margin-top: 5px;
}

.navItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin-right: 5px;
}
  
.navItem.active {
    border-bottom: 2px solid var(--primary-color-dark);
    color: var(--primary-color-dark);
}

.iconWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconWrapperHas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.notificationBadge {
    position: absolute;
    top: -4px;          
    right: -10px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    z-index: 10;
    color: var(--card-color);
}


/** USER IMAGE */

header .userShortcut {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 40px;
    transition: transform 0.7 ease;
}

header .userShortcut:hover {
    transform: scale(1.05);
}

header .userShortcut img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--input-background);
    border: 3px solid var(--primary-color-dark);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.userMenu {
    position: absolute;
    top: 100%;
    right: 60px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    z-index: 999;
    border: 1px solid var(--primary-color-dark);
    border-radius: 4px;
    width: 10%;
}

.userMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.userMenu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--card-border);
    color: var(--primary-color-dark);
    padding: 15px 25px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    gap: 5px;
}

.userMenu li:last-child {
    border-bottom: none;
}

.userMenu li:hover {
    background-color: var(--hover-color);
    color: var(--hover-text-color);
    transition: background-color 0.3s ease;
}




@media (max-width: 768px) {

    header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    
    header .logoContainer {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        margin-left: 0px;
    }
    
    header .logoContainer img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--input-background);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
    }

    .barMenuContainer {
        color: var(--primary-color-dark);
        padding: 10px;
    }
    
    .barMenuContainer {
        position: relative;
    }

    .barNotificationBadge {
        position: absolute;
        top: -4px;
        right: -4px;
        background-color: red;
        color: white;
        font-size: 10px;
        padding: 2px 6px;
        border-radius: 50%;
        font-weight: bold;
        z-index: 10;
    }

    .barMenu {
        position: fixed;
        top: 90px;
        right: 0px;
        background-color: var(--background-color);
        border-radius: 6px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        color: var(--primary-color-dark);
        border: 1px solid var(--primary-color-dark);
      }

      .barMenu ul {
        margin: 0px;
        padding: 0px;
      }
    
      .barMenu li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 25px;
      }

      .barMenu li img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid var(--primary-color-dark);
      }
    
      .barMenuItem {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }
    
      .barMenu li label {
        font-size: 20px;
        align-items: center;
    }

    .logoContainer img {
        width: 40px;
        height: 40px;
    }

    .barMenuContainer {
        margin-right: 30px;
    }

    .mainContent {
        padding-top: 70px; /* Header yüksekliği + biraz boşluk */
      }
      

      .headerMenu span:active,
.barMenu div:active,
.userShortcut:active,
.logoContainer:active,
.searchBar:active {
    transform: scale(0.95); /* küçük bir küçülme efekti */
    opacity: 0.7;          /* hafif bir transparanlık */
    transition: transform 0.1s ease, opacity 0.1s ease;
}

}