.companionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.companionsContainer h3, p {
    color: var(--primary-color-dark);
}

.companionsContainer img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.filterPanel {
    display: flex;
    flex-direction: column;
    height: 90vh;
    gap: 10px;    border-right: 1px solid var(--primary-color-dark);
    background-color: var(--background-color);
}

.filterPanel label {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    margin: 0px;
}

.filterPanel label:hover {
    background-color: var(--primary-color);
    color: white;
}

.mainPanel {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    min-height: 50vh;
    padding: 10px 20px;
    margin: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    max-height: 80vh;
    overflow: auto;
}

.suggestionsPanel {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    min-height: 30vh;
    padding: 10px 20px;
    margin: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    max-height: 80vh;
    overflow: auto;
}

.userContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    width: 40vw;
}

.userContainerSg {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    width: 30vw;
}

.divisionContainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;   
}

.companionsHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}

.searchBar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 8px;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color-dark);
}

.searchBar input {
    width: 80%;
    border: none;
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--primary-color-dark);
}

.searchBar input::placeholder {
    color: var(--primary-color-dark);
}

.searchBar input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.searchIcon {
    padding-right: 16px;
    color: var(--primary-color-dark);
    border-right: 1px solid var(--primary-color-dark);
}

.divisionContainer ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 90%;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color-dark);
    color: var(--primary-color-dark);
    overflow: auto;
}


.divisionContainer li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    align-items: center;
    border-bottom: 1px solid var(--primary-color-dark);
}


.divisionContainer li img {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.userDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userDetails:hover {
    text-decoration: underline;
    cursor: pointer;
}

.userDetails h4 {
    margin: 0;
}


.userDetailsInfo {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}


.divisionContainer button {
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}

.divisionContainer button.accept:hover {
    background-color: #00c896;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 200, 150, 0.3);
  
}

.divisionContainer button.decline:hover {
    background-color: #f44336;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 200, 150, 0.3);
  
}

  
.divisionContainer button:active {
    transform: scale(0.98);
}


.actionButtons {
    display: flex;
    gap: 10px;
}

.accept {
    background-color: #00c896;
    color: white;
  }
  
  .decline {
    background-color: #f44336;
    color: white;
  }


.addButton {
    background-color: blue;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}


.addButton:hover {
    transform: translateY(-2px);
}



@media (max-width: 768px) {

    .divisionContainer li {
        flex-direction: column;
    }

    .divisionContainer button {
        margin-top: 8px;
    }

    .userDetails {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .userDetailsInfo {
        margin-left: 0px;
    }
}