.custom-marker-wrapper {
  position: relative;
  width: 48px;
  height: 48px;
  animation: pulseDrop 1.5s infinite;
}

.animated-blue-marker {
  filter: drop-shadow(0 0 6px #2196F3);
}

.blue-pin-svg {
  width: 48px;
  height: 48px;
  animation: gentleBounce 2s ease-in-out infinite;
}

.mapInputContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: #2196F3;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  position: relative;
}

.searchIcon {
  color: var(--primary-color-dark);
  font-size: 18px;
  margin-left: 8px;
}

.inputWrapper input {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid var(--primary-color-dark);
  border-radius: 6px;
  color: var(--primary-color-dark);
  background-color: var(--background-color);
  font-size: 16px;
}

.inputWrapper input::placeholder {
  color: var(--primary-color-dark);
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid var(--card-border);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.searchResults ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchResults li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.searchResults li:hover {
  background-color: var(--hover-color);
}

@keyframes bounceWave {
  0%   { transform: scale(1) rotate(0deg); }
  50%  { transform: scale(1.1) rotate(3deg); }
  100% { transform: scale(1) rotate(0deg); }
}

.massive-finish-marker-wrapper {
  animation: bounceWave 1.6s infinite ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-img {
  width: 36px;
  height: 36px;
}

@media (max-width: 768px) {
  .mapInputContainer {
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding: 10px 0;
  }

  .mapInputContainer input {
    color: var(--text-color);
  }
  

  .searchResults ul {
    width: 100%;
    padding: 5px;
  }

  .searchResults li {
    font-size: 14px;
  }

  .leaflet-container {
    height: 200px !important;
    margin-top: 10px;
    border-radius: 10px;
  }
}
