.mapInputContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    gap: 20px;
}


.searchResults {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 300px;
    top: 160px;
    width: 600px;
    background-color: var(--background-color);
    z-index: 999;
    border: 1px solid var(--primary-color-dark);
}

.searchResults ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    padding: 10px;
    width: 90%;
}


.searchResults li {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.searchResults li:hover {
    background-color: var(--primary-color-light);
    cursor: pointer;

}

@keyframes bounceWave {
  0%   { transform: scale(1) rotate(0deg); }
  50%  { transform: scale(1.1) rotate(3deg); }
  100% { transform: scale(1) rotate(0deg); }
}

.massive-finish-marker-wrapper {
  animation: bounceWave 1.6s infinite ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-img {
  width: 36px;
  height: 36px;
}
