.eventContainer {
    display: flex;
    flex-direction: row;
}

/** REVIEW **/

.reviewPopup {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    top: 0;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


 
/** CHAT MESSAGE */

.chatContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 30vw;
    height: 70vh;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--primary-color-dark);
}

.chatMessage {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.chatMessage img {
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.sendChatMessageContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 20px;
    justify-content: space-between;
    gap: 20px;
}

.sendChatMessageContainer input {
    width: 300px;
}

.sendChatMessage {
    position: absolute;
    display: flex;
    flex-direction: row;

}

/** INVITE MODAL */

.inviteModalContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 10vw;
    height: 10vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: space-between;
}

.inviteModalContainer ul {
    list-style: none;

}

.inviteModalContainer li {
    display: flex;
    flex-direction: row;
}

.inviteModalContainer li.selected {
    background-color:  rebeccapurple;
}

.inviteModalContainer img {
    width: 60px;
    height: 60px;
}

.liSelected {
    background-color: #d32f2f;
}