.eventContainer {
    display: flex;
    flex-direction: row;
}

/** ATTENDEES */

.attendees {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color:white;
    align-items: center;
    padding: 15px;
}

.attendees ul {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr;
    cursor: pointer;
}

.attendees li {
    display: flex;
    flex-direction: column;
    position: relative;
    list-style: none;
}

.attendees img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.attendees img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.organizerIcon {
    position: absolute;
    color: var(--secondary-color);
}

/**EVENT CARD SUMMARY**/

.eventCardAndComment {
    display: flex;
    flex-direction: column;
}

.eventCardAndWeatherAPI {
    position: relative;
    display: flex;
    flex-direction: row;
}

.eventCard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    padding: 16px;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: white;
    cursor: pointer;
    width: 600px;
    height: 600px;
    gap: 5px;
}

.firstColumn {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}


.weatherApi {
    position: relative;
    display: flex;
    flex-direction: column;
}


.weatherApi img {
    width: 200px;
    height: 200px;
}

.secondColumn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.eventCard img {
    width: 40%;
    border-radius: 10%;
    object-fit: cover;
}

.eventCard h2 {
    font-size: 24px;
    color: var(--text-color);
}

.eventCard p {
    font-size: 14px;
    color: var(--text-color);
}

.eventCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.eventTitle {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    font-size: 24px;
    gap: 10px;
    margin: 0px;
}

.eventCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 18px;
    border: #00796b solid 1px;
    color: #00796b;
}

/* EVENT TIME, DATE & LOCATION */

.eventDetailsInfo {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 20px;
}

.eventTimeDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.eventTimeDate span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.eventLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.icon {
    font-size: 30px;
    color: var(--primary-color-dark);
    margin: 0;
}


.tag {
    background-color: rgb(189, 247, 189);
    border: 1px solid var(--primary-color-dark);
    border-radius: 6px;
    
}

.tags p {
    color: var(--primary-color-dark);
    font-weight: bolder;
}

/** EventStatus **/

.eventStatus {
    display: flex;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 2px 4px;
    font-size: 12px;
    color: var(--error-color);
}

.eventStatus.ONGOING {
    background-color: rgb(83, 201, 83);
    color: white;
}

.eventStatus.FULL {
    background-color: #e99e2f;
    color: white;
}

/* TO BE IMPLEMENTED */

.eventStatus.completed {
    background-color: #ffecb3;
    color: #f57c00;
}
.eventStatus.cancelled {
    background-color: #ffcdd2;
    color: #d32f2f;
}


.eventStatus.draft {
    background-color: #e1bee7;
    color: #8e24aa;
}

/* EVENT BUTTON */

.eventActions {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: end;
    gap: 24px;
}

.buttonGroup {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #ffffff;
    padding: 6px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, transform 0.2s;
    cursor: pointer;
}

.buttonGroup:hover {
    background-color: #f1f1f1;
    transform: translateY(-2px);
}

.heartIcon {
    color: #e53935;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.commentIcon {
    color: #1976d2;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.buttonGroup span {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

.joinButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin: 0 4px;
    margin-top: 10 px;
    transition: background-color 0.2s;
}

.joinButton:disabled {
    background-color: grey;
    cursor: default;
}
.joinButton:disabled:hover {
    background-color: grey;
}

.joinButton:hover {
    background-color: #388e3c;
}

.secondButtonGroup {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 20px;
    bottom: 20px;
}

.deleteButton {
    background-color: #fadfdf;
    border: 1px solid #9e1f1f;
    color: #9e1f1f;
    cursor: pointer;
    font-size: 12px;
    margin: 0 4px;
    margin-top: 10 px;
    transition: background-color 0.2s;
    align-items: center;
    cursor: pointer;
    transition: scale 0.5 ease;
}

.inviteButton {
    background-color: #d2ebee;
    border: 1px solid #0f4b7c;
    color: #0f4b7c;
}

.secondButtonGroup button:hover {
    transform: scale(1.05);
}

 /** COMMENT CONTAINER **/

 .commentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--card-border);
    width: 600px;
    padding: 12px;
    margin: 0px 30px;
    border-radius: 12px;
 }

 .commentContainerAlt {
    background-color: white;
    border-radius: 12px;
    padding: 12px;
 }

 .commentContainer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
 }

 .commentContainer li {
    background-color: var(--card-color);
 }

 .commentElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--card-color);
 }

 .commentSender {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
 }

 .timestamp {
    color: #333;
    font-size: 12px;
 }

 .commentElement img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
 }

 .addComment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addComment input {
    padding: 10px;
    width: 80%;
}

/** CHAT MESSAGE */

.chatContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 40vw;
    height: 60vh;
    margin: 30px;
    border-radius: 20px;
}

.chatMessage {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.chatMessage img {
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.sendChatMessageContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    justify-content: space-between;
    justify-content: center;
}

.sendChatMessage {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/** INVITE MODAL */


.inviteModalContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 10vw;
    height: 10vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: space-between;
}

.inviteModalContainer ul {
    list-style: none;

}

.inviteModalContainer li {
    display: flex;
    flex-direction: row;
}

.inviteModalContainer li.selected {
    background-color:  rebeccapurple;
}

.inviteModalContainer img {
    width: 60px;
    height: 60px;
}

.liSelected {
    background-color: #d32f2f;
}