/** HEADER MAIN **/

header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;;
    background-color: var(--background-color);
    width: 100%;
    border-bottom: 1px solid var(--primary-color-dark);
}

/** LOGO */

header .logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

header .logoContainer img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--input-background);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border: 1px solid var(--primary-color-dark);
}

header .logoContainer img:hover {
    transform: scale(1.1);
}


/** SEARCH RESULTS */

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 25px;
    background-color: var(--input-background);
    border-radius: 10px;
}

.searchBar input {
    border: none;
    border-radius: 8px;
    background-color: var(--input-background);
  }
  

.searchBar input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.searchResults {
    position: absolute;
    top: 100%;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    overflow-y: visible;
    background-color: var(--card-color);
    border-radius: 6px;
    border: 1px solid var(--primary-color)
}

.searchResults ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.searchResults li {
    padding: 12px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-bottom: 2px solid var(--background-color);
    color: var(--text-color);
}

.searchResults li:hover {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.searchResults li h2 {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    margin: 0px;
}

.searchResults li p {
    font-size: 12px;
    color: var(--text-color);
    margin: 0px;
}

.userResultInfo {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: first baseline;
}

.searchResults li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
    background-color: var(--input-background);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primary-color-dark);
    transition: transform 0.3s ease;
}

.searchResults li:last-child {
    border-bottom: none;
    border-radius: 6px;
}


.searchResults label {
    font-size: 16px;
    padding: 4px 0px;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
}

/** NAVMENU */

header .headerMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .headerMenu span {
    position: relative;
    font-size: 12px;
    color: var(--primary-color-dark);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: border-bottom 0.3s ease;
}

header .headerMenu span:hover {
    transform: translateY(-2px);
    transition: border-bottom 0.3s ease;
}

.headerMenu span label {
    cursor: pointer;
    margin-top: 5px;
}

.navItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin-right: 5px;
}
  
.navItem.active {
    border-bottom: 2px solid var(--primary-color-dark);
    color: var(--primary-color-dark);
}

.iconWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconWrapperHas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.notificationBadge {
    position: absolute;
    top: -4px;           /* NEGATİF DEĞİL! Yukarı taşmasın */
    right: -10px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    z-index: 10;
    color: var(--background-color);
}


/** USER IMAGE */

header .userShortcut {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-right: 20px;
    transition: transform 0.7 ease;
}

header .userShortcut:hover {
    transform: scale(1.05);
}

header .userShortcut img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--input-background);
    border: 1px solid var(--primary-color-dark);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.userMenu {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    width: 200px;
    z-index: 999;
    border: 1px solid var(--primary-color-dark);
    border-radius: 6px;
}

.userMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: pointer;
}

.userMenu li {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid var(--card-border);
    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
}

.userMenu li:hover {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

.userMenu li:last-child {
    border-bottom: none;
}

.userMenu li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
}

.userMenu li label {
    cursor: pointer;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
}


@media (max-width: 768px) {

      header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    
    header .logoContainer {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        margin-left: 0px;
    }
    
    header .logoContainer img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--input-background);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
    }


    .searchBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: var(--input-background);
        border-radius: 8px;
        margin-left: 0px;
    }
    
    .searchBar input {
        border: none;
        border-radius: 8px;
        background-color: var(--input-background);
      }
      
    
    .searchBar input:focus {
        outline: none;
    }

    .barMenu {
        position: fixed;
        top: 70px;
        right: 0px;
        width: auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
      }
    
      .barMenu li {
        display: flex;
        flex-direction: column;
        align-items: first baseline;
        gap: 30px;
      }

      .barMenu li img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    
      .barMenuItem {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }
    
      .barMenu li label {
        font-size: 20px;
        align-items: center;
    }

    .searchBar {
        flex: 1;
        margin: 0 10px;
    }

    .logoContainer img {
        width: 40px;
        height: 40px;
    }

    .barMenuContainer {
        margin-right: 30px;
    }

    .mainContent {
        padding-top: 70px; /* Header yüksekliği + biraz boşluk */
      }
      

      .headerMenu span:active,
.barMenu div:active,
.userShortcut:active,
.logoContainer:active,
.searchBar:active {
    transform: scale(0.95); /* küçük bir küçülme efekti */
    opacity: 0.7;          /* hafif bir transparanlık */
    transition: transform 0.1s ease, opacity 0.1s ease;
}

}