header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;;
    background-color: var(--primary-color);
    width: 100%;
}

header .logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

header .logoContainer img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: var(--input-background);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

header .headerMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    text-align: center;
}

header .headerMenu span {
    color: var(--text-color-header);
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: border-bottom 0.3s ease;
}


header .headerMenu span:hover {
    border-bottom: 1px solid var(--text-color-header-dark);
    color: var(--text-color-dark);
    transition: border-bottom 0.3s ease;
}


.headerMenu span label {
    cursor: pointer;
    margin-top: 5px;
}


.headerMenu span label:hover {
    color: var(--text-color-dark);
}

.navItem {
    padding: 8px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
  
.navItem.active {
    border-bottom: 2px solid var(--text-color-dark);
    color: var(--text-color-dark);
}
  
.logo {
    height: 40px;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  }


header .userShortcut {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .userShortcut p {
    align-items: center;
    margin-right: 5px;
    font-size: 16px;
    color: var(--text-color);
    font-weight: bold;
}

header .userShortcut img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: var(--input-background);
    border: 2px solid var(--input-border);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--input-background);
}

.searchBar input {
    border: none;
}

.searchBar input:focus {
    outline: none;
}

.userMenu {
    position:absolute;
    top: 10vh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    width: 200px;
    z-index: 1;
}

.userMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: pointer;
}

.userMenu li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--card-border);
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
}

.userMenu li:hover {
    background-color: var(--secondary-color-light);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

.userMenu li:last-child {
    border-bottom: none;
}

.userMenu li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
}

.userMenu li label {
    cursor: pointer;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
}


.searchResults {
    position: absolute;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    left: 20vw;
    width: 20vw;
    z-index: 1;
}

.searchResults ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.searchResults li {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid var(--card-border);
    color: var(--text-color);
}

.searchResults li h2 {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
}

.searchResults li p {
    font-size: 12px;
    color: var(--text-color);
}

.user-result-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.searchResults li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--input-background);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.searchResults li:hover {
    background-color: var(--secondary-color-light);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

.searchResults li:last-child {
    border-bottom: none;
}


.notificationDropdown {
    position: fixed;
    top: 8vh;
    width: 25vh;
    right: 35vh;
    pad: 8px;
    display: flex;
    flex-direction: column;
}

.notificationDropdown ul {
    list-style: none;
    padding: 4px;
    background-color: var(--card-color);
    cursor: pointer;
}

.notificationDropdown li {
    background-color: var(--input-background);
}

.notificationDropdown li:hover {
    background-color: var(--secondary-color-light);
}

.notificationDropdown h4 {
    font-size: 12px;
}

.notificationDropdown p {
    font-size: 12px;
}


.notificationBadge {
    position: absolute;
    padding: 2px 4px;
    width: 12px;
    color: white;
    top: 1vh;
    right: 24.3vw;
    background-color: red;
    border-radius: 50%;
}