.appWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    flex: 1;
}

footer {
    display: flex;
    flex-direction: row;
    height: 3vh;
    padding: 20px;
    width: 100%;
    background-color: var(--background-color);
    color: var(--primary-color-dark);
    align-items: center;
    text-align: center;
    justify-content: center;
    border-top: 1px solid var(--primary-color-dark);
    font-weight: bold;
}

@media (max-width: 768px) {

    .appWrapper {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    }

}
