.appWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    flex: 1;
}

footer {
    display: flex;
    flex-direction: row;
    height: 20%;
    padding: 20px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--nav-item-color);
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media (max-width: 768px) {

    .appWrapper {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    }

}
