.chatContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color-dark);
    height: 600px;
    min-width: 400px;
    padding: 40px;
    margin: 10px 40px;
    border-radius: 6px;
    color: var(--primary-color-dark);
}

.chatContainer label {
    font-weight: bold;
}


.messageList {
    border: 1px solid var(--primary-color-dark);
    border-radius: 4px;
    min-height: 500px;
}

.chatMessage {
    display: flex;
    flex-direction: column;
}


.sendChatMessageContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sendChatMessageContainer input {
    display: flex;
    padding: 10px 20px;
    width: 360px;
    border: 1px solid var(--primary-color-dark);
}


