html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.mainFeedContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.mainFeedContainerFilter {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    justify-content: space-between;
}

.mainFeedContainerFilter h4 {
    border-bottom: 1px solid var(--primary-color-dark);
}

.selections {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.selections label {
    padding: 10px;
    display: flex;
    background-color: var(--background-color);
    font-weight: bold;
}

.selections label:hover {
    cursor: pointer;
    background-color: var(--primary-color-light);
}

/* ShowPastToggle.module.css */

.toggleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--primary-color-dark);
  margin-bottom: 10px;
}

.toggleWrapper input[type="checkbox"] {
  display: none;
}

.slider {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

input[type="checkbox"]:checked + .slider {
  background-color: var(--primary-color);
}

input[type="checkbox"]:checked + .slider::before {
  transform: translateX(20px);
}

.labelText {
  font-weight: 500;
}


.sort {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.sort select {
    cursor: pointer;
}

.mainFeedContainer header .sort select {
    border: none;
}

.mapContainer {
  position: relative;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.onGoingEventsContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  align-items: start;
}

.eventCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 18px;
    margin: 20px 60px;
    background-color: var(--card-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    border: 1px solid var(--primary-color-dark);
    cursor: pointer;
    width: 380px;
    height: 420px;
    gap: 10px;
}

.eventCard.full {
    opacity: 0.7;
    background-color: #f8f8f8;
}

.eventCard img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.eventCard h2 {
    font-size: 14px;
    color: #333;
    margin-bottom: 2px;
}

.eventCard p {
    font-size: 12px;
    color: #333;
    text-align: center;
    margin-bottom: 2px;
}

.eventCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.eventTitle {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
}

.eventTitle h2 {
    font-size: 14px;
    margin: 0;
}

.eventCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    border: #00796b solid 1px;
    color: #00796b;
}

/* EVENT TIME, DATE & LOCATION */


.eventDetailsInfo {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 10px;
}

.eventTimeDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.eventTimeDate span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.eventLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 18px;
    color: var(--primary-color-dark);
    margin: 0;
}

p {
    margin: 0;
    font-size: 12px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 260px;
    height: 50px;
}

.tags ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 5px;
}

.tags span {
    background-color: #cfeed0;
    border: 1px solid green;
    border-radius: 6px;
    padding: 1px 2px;
    font-size: 12px;
    color: green;
    font-weight: bold;
}

/** EventStatus **/

.eventStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 2px 4px;
    font-size: 12px;
    color: var(--error-color);
    margin-top: 10px;
}

.eventStatus.ONGOING {
    background-color: rgb(83, 201, 83);
    color: white;
}

.eventStatus.FULL {
    background-color: #e99e2f;
    color: white;
}

.eventStatus.ENDED {
    background-color: #8d8c8a;
    color: white;
}


.eventStatusDraft {
    color: var(--card-color)
}


/* EVENT BUTTON */

.eventActions {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: end;
    gap: 24px;
}

.buttonGroup {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #ffffff;
    padding: 6px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, transform 0.2s;
    cursor: pointer;
}

.buttonGroup:hover {
    background-color: #f1f1f1;
    transform: translateY(-2px);
}

.heartIcon {
    color: #e53935;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.commentIcon {
    color: #1976d2;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.buttonGroup span {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}


.joinButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin: 0 4px;
    margin-top: 10 px;
    transition: background-color 0.2s;
}

.joinButton:disabled {
    background-color: grey;
    cursor: default;
}
.joinButton:disabled:hover {
    background-color: grey;
}

.joinButton:hover {
    background-color: #388e3c;
}

.eventOrganizer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventOrganizer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.eventOrganizer p {
    color: #333;
    text-align: center;
    margin: 0;
}

.lockIcon {
    position: absolute;
    top: 20px;
    left: 20px;
}


@media (max-width: 768px) {


    .eventCard {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 16px;
        padding: 8px;
        margin-top: 40px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
        cursor: pointer;
        width: 320px;
        height: 450px;
        gap: 20px;
    }

    .heartIcon {
        color: #e53935;
        font-size: 28px;
        transition: transform 0.2s ease;
    }
    
    .commentIcon {
        color: #1976d2;
        font-size: 28px;
        transition: transform 0.2s ease;
    }

    .joinButton {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        right: 20px;
        bottom: 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
        max-width: 100px;
        font-size: 18px;
        margin: 0 4px;
        margin-top: 10 px;
        transition: background-color 0.2s;
    }


}


/** PLACEHOLDER CARDS */

.skeletonCard {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite;
    margin: 40px;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  