body{
    background-color: var(--error-color);
}


.onGoingEventsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    padding: 20px;
    background-color: red;
    overflow: auto;
    justify-items: center;
    align-items: start;
}

.eventCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.eventCard img {
    width: 20%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
}

.eventCard h2 {
    font-size: 14px;
    color: #333;
    margin-bottom: 2px;
}

.eventCard p {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-bottom: 2px;
}

.eventCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/** EventStatus **/

.eventStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0f7fa;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    color: #00796b;
}

.eventStatus.completed {
    background-color: #ffecb3;
    color: #f57c00;
}
.eventStatus.cancelled {
    background-color: #ffcdd2;
    color: #d32f2f;
}

.eventStatus.ongoing {
    background-color: #bbdefb;
    color: #1976d2;
}

.eventStatus.draft {
    background-color: #e1bee7;
    color: #8e24aa;
}

.eventStatus.full {
    background-color: #ffe0b2;
    color: #f57c00;
}

.eventTimeDate {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: 4px;
}

.eventTimeDate span {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    font-size: 12px;
}


.eventActions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.eventActions button {
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 12px;
    margin: 0 4px;
    transition: background-color 0.2s;
}

.eventActions button:hover {
    background-color: #1565c0;
}

.eventCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    border: #00796b solid 1px;
    color: #00796b;
}

.joinButton {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 12px;
    margin: 0 4px;
    margin-top: 10 px;
    transition: background-color 0.2s;
}

.joinButton:hover {
    background-color: #388e3c;
}

.eventParticipants {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #666;
    font-style: italic;
}


.eventOrganizer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #666;
    font-style: italic;
    margin-top: 4px;
}

.eventOrganizer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 4px;
}

.eventOrganizer p {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin: 0;
}