#root {
  margin: 0 auto;
  text-align: center;
}

:root {

  --primary-color: #15b37e;               
  --primary-color-dark: #025c42;
  --primary-color-light: #D1FAE5;


  /* 🌤️ Backgrounds & Surfaces */
  --background-color: #e8faf4;
  --card-color: #ffffff;
  --card-border: #e5e7eb;


  --nav-item-color: #ffffff;

  /* 🌞 Accent Colors */
  --secondary-color: #FFB347;             
  --secondary-color-dark: #E89933;
  --secondary-color-light: #FFE0B8;

  /* 🧡 Warm Tone Highlights */
  --highlight-color: #FB9273;             
  --highlight-color-light: #FFDAD1;

  /* 🌊 Cool Accent (from sky) */
  --accent-color: #58C4C8;                
  --accent-color-light: #CFF1F3;
  --accent-color-dark: #4AB5B9;            

  /* 🌿 Inputs & Borders */
  --input-border: #D5E7DF;
  --input-focus: #58C4C8;
  --input-background: #FFFFFF;

  /* 🔤 Text Colors */
  --header-color: #D6EBE2;
  --text-color:  #2C2C2E; 
  --warning-color: #FFB347; 
  --error-color: #FF6F61;

  --button-color: #58C4C8;         
  --button-hover-color: #4AB5B9;
  --button-padding: 0.5rem 1rem; 
  --button-border-radius: 5px; 

  --link-color: blue;
  --link-hover-color: rgb(2, 2, 194);


}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: var(--background-color);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}


