#root {
  margin: 0 auto;
  text-align: center;
}

:root {

  --primary-color: #2C7DA0;               
  --primary-color-dark: #012A4A;
  --primary-color-light: #128e65;


  --background-grey: #f0f0f0;
  --text-color-grey: #555;
  --grey-hover: #e0e0e0;
  --border-grey: #ccc; 

  --hover-color: #468FAF;
  --hover-text-color: #fcfffe;

  --background-color: #fcfffe;
  --card-color: #ffffff;
  --card-border: #e5e7eb;

  --secondary-color: #FFB347;             
  --secondary-color-dark: #E89933;
  --secondary-color-light: #FFE0B8;


  --accent-color: #58C4C8;                
  --accent-color-light: #CFF1F3;
  --accent-color-dark: #4AB5B9;            

  --input-border: #D5E7DF;
  --input-focus: #58C4C8;
  --input-background: #FFFFFF;

  --text-color:  #2C2C2E; 
  --warning-color: #FFB347; 
  --error-color: #ff1500;

  --button-color: #58C4C8;         
  --button-hover-color: #4AB5B9;
  --button-padding: 1rem 2rem; 
  --button-border-radius: 5px; 

  --link-color: blue;
  --link-hover-color: rgb(2, 2, 194);

}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: var(--background-color);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

input {
  color: var(--primary-color-dark);
}

body {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 Q 10 0, 20 10 T 40 10 T 60 10' stroke='%23012A4A' stroke-width='1' fill='none' opacity='0.3'/%3E%3C/svg%3E");
}


body.dark {
    --background-color: #012A4A;
    --primary-color-dark: #ffffff;
      background-color: #01497C;
      background-image: url("data:image/svg+xml,%3Csvg width='60' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 Q 10 0, 20 10 T 40 10 T 60 10' stroke='%23ffffff' stroke-width='1' fill='none' opacity='0.5'/%3E%3C/svg%3E");
    --background-grey: #2c2c2c;
    --text-color-grey: #bbbbbb;
    --border-grey: #444;
    --grey-hover: #3a3a3a;
  }


@keyframes redRingPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0.5);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(255, 77, 79, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0);
  }
}

.massive-finish-marker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 77, 79, 0.7);
  border-radius: 50%;
  animation: redRingPulse 1.4s infinite;
}

.massive-finish-marker {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; 
  box-shadow: none;        
}

.massive-finish-marker img {
  width: 36px;
  height: 36px;
  margin-left: 10px;
  z-index: 1;
}

/** FULL CALENDAR CLASSES GENERAL CSS */

.fc {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fc .fc-toolbar-title {
    color: var(--primary-color-dark);
    font-size: 24px;
    font-weight: bold;
}

.fc .fc-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  transition: backround-color 0.4s ease-in;
}

.fc .fc-button:hover {
  background-color: var(--primary-color-dark);
  color: var(--background-color);
}

.fc .fc-button:disabled {
  background-color: #ccc;
  color: #666;
}

/** TIMEGRIDS */

.fc .fc-timegrid-slot {
  background-color: var(--background-color);
  border-color: var(--accent-color);
}

.fc .fc-timegrid-slot:hover {
  background-color: var(--accent-color-light);
}

.fc .fc-day-today {
  background-color: var(--secondary-color);
  color: var(--secondary-color-light);
}

.fc .fc-timegrid-col.fc-day-today {
  background-color: var(--secondary-color-light);
}

.fc .fc-timegrid-axis-cushion {
  color: var(--primary-color-dark);
  font-size: 0.95rem;
  font-weight: 500;
  padding: 2px 4px;
  text-align: right;
}


/** DAYS */
.fc .fc-col-header-cell-cushion {
  color: var(--primary-color-dark);
  font-weight: 600;
  font-size: 16px;
}


/* EVENTS */
.fc .fc-event {
  border: none;
  border-radius: 8px;
  padding: 4px;
  font-size: 0.9rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


/* BADGE POSITION - CENTER RIGHT */
.customToast {
  position: fixed !important;
  top: 50% !important;
  right: 20px !important;
  transform: translateY(-50%) !important;
}
