#root {
  margin: 0 auto;
  text-align: center;
}

:root {

  --primary-color: #15b37e;               
  --primary-color-dark: #025c42;
  --primary-color-light: #def0e6;


  /* 🌤️ Backgrounds & Surfaces */
  --background-color: #fcfffe;
  --card-color: #ffffff;
  --card-border: #e5e7eb;


  --nav-item-color: #ffffff;

  /* 🌞 Accent Colors */
  --secondary-color: #FFB347;             
  --secondary-color-dark: #E89933;
  --secondary-color-light: #FFE0B8;

  /* 🧡 Warm Tone Highlights */
  --highlight-color: #FB9273;             
  --highlight-color-light: #FFDAD1;

  /* 🌊 Cool Accent (from sky) */
  --accent-color: #58C4C8;                
  --accent-color-light: #CFF1F3;
  --accent-color-dark: #4AB5B9;            

  /* 🌿 Inputs & Borders */
  --input-border: #D5E7DF;
  --input-focus: #58C4C8;
  --input-background: #FFFFFF;

  /* 🔤 Text Colors */
  --header-color: #D6EBE2;
  --text-color:  #2C2C2E; 
  --warning-color: #FFB347; 
  --error-color: #ff1500;

  --button-color: #58C4C8;         
  --button-hover-color: #4AB5B9;
  --button-padding: 1rem 2rem; 
  --button-border-radius: 5px; 

  --link-color: blue;
  --link-hover-color: rgb(2, 2, 194);


}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: var(--background-color);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}


@keyframes redRingPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0.5);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(255, 77, 79, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0);
  }
}

.massive-finish-marker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 77, 79, 0.7);
  border-radius: 50%;
  animation: redRingPulse 1.4s infinite;
}

.massive-finish-marker {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; 
  box-shadow: none;        
}

.massive-finish-marker img {
  width: 36px;
  height: 36px;
  margin-left: 10px;
  z-index: 1;
}
