.photoContainer {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 40vw;
}

.photoContainer h4 {
  font-size: 20px;
  margin-bottom: 16px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 6px;
}

.photoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 12px;
}

.photoGrid img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}


.photoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--primary-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.uploaderInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
      color: white;

}

.photoCard p {
  color: white;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary-color-dark);
}

.username {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 500;
  color: white;
}

.photo {
  width: 140px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.photo:hover {
  transform: scale(1.03);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlayContent {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
}

.overlayContent img {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.closeIcon {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.navIcon {
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navIcon:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  
  .photoContainer {
    width: 90vw;
  }
  
  
  .overlayContent {
    gap: 16px; 
    padding: 0 12px; 
    box-sizing: border-box;
  }

  .overlayContent img {
    max-width: 70vw; 
    max-height: 60vh;
  }

  .navIcon {
    font-size: 24px;
  }

  .closeIcon {
    top: -32px;
    right: 8px;
    font-size: 24px;
  }
}
