.eventHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-color);
    height: 5vh;
    width: 90vw;
    border-bottom: 1px solid var(--primary-color-dark);
}

.eventTab {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    gap: 50px;
}

.eventTab label {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color-dark);
}

.eventTab label:hover {
    background-color: var(--primary-color-light);
    cursor: pointer;
}

.publishEvent {
    display: flex;
    font-weight: bold;
    border: 1px solid var(--secondary-color-dark);
    padding: 10px;
    border-radius: 6px;
}

.publishEvent:hover {
    color: var(--background-color);
    background-color: var(--secondary-color-dark);
    cursor: pointer;
}

.secondButtonGroup {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 2px 6px;
    border-radius: 8px;
    transition: background-color 0.2s, transform 0.2s;
}

.inviteButton {
    background-color: var(--background-color);
    color: var(--primary-color-dark);
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.2s, transform 0.2s;
}

.inviteButton:hover {
    background-color: #f1f1f1;
    transform: translateY(-2px);
    font-weight: bolder;
}

.editButton {
    background-color: var(--background-color);
    color: var(--primary-color-dark);
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.2s, transform 0.2s;
}


.editButton:hover {
    background-color: #f1f1f1;
    transform: translateY(-2px);
    font-weight: bolder;
}