/**EVENT DETAILS CARD**/

.eventCard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1px;
    margin-left: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--primary-color-dark);
    background-color: var(--background-color);
    border-radius: 6px;
    width: 55vw;
    height: 800px;
    margin-top: 10px;
}

.eventCard h2 {
    font-size: 24px;
}

.eventCard p {
    font-size: 14px;
}

/** LOCK ICON */

.lockIcon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
    color: var(--primary-color-dark);
}

/** ATTENDEE CONTAINER **/

.attendeeContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    align-items: center;
    color: var(--primary-color-dark);
    padding: 10px;
    font-size: 16px;
}

/** DESCRIPTION CONTAINER */

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 10px;
  border-left: 4px solid var(--primary-color-dark);
  width: 90%;
  height: 300px;
}

.descriptionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.descriptionHeader label {
  font-weight: bold;
  font-size: 16px;
  color: var(--primary-color-dark);
}

.descriptionContainer p {
  font-size: 14px;
  line-height: 1.0;
}

.descriptionContainer textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  resize: vertical;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 6px;
}

.editDescription {
  margin-top: 8px;
  margin-right: 8px;
  padding: 6px 12px;
  font-size: 13px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.editDescription:hover {
  background-color: var(--primary-color-dark);
  color: var(--background-color);
}


.eventImageLocationDate {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    max-width: 40%;
    gap: 20px;
}

.editImageLabel {
  display: inline-block;
  justify-content: center;
  width: 100%;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.editImageLabel:hover {
  text-decoration: underline;
}


/** EVENT STATUS */
.statusAndEventInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.eventInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--primary-color-dark);
}

.eventInfo p {
  width: 100%;
  text-align: left;
}


.eventTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eventCard img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.feeInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  min-height: 50px;
  width: 100%;
}

.feeAmount {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: bold;
  color: #388e3c;
}

.feeInfo svg {
  color: #689f38;
}

.feeInfo span {
  font-weight: bold;
  font-size: 16px;
}

.feeInfo p {
  margin: 0;
}


.weatherWidget {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.weatherContent {
    position: relative;
}


.weatherInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eventTitle {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    font-size: 24px;
    gap: 10px;
    margin: 0px;
}

.eventCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 18px;
    border: 1px solid var(--primary-color-dark);
}

/* EVENT TIME, DATE & LOCATION */

.eventDetailsInfo {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 20px;
}

.eventTimeDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.eventTimeDate:hover {
    cursor: pointer;
}

.eventTimeDate span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.eventLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.eventLocation:hover {
    cursor: pointer;
}

.icon {
    font-size: 30px;
    color: var(--primary-color-dark);
    margin: 0;
}



/** EVENT TAGS */

.tags {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 3px solid var(--primary-color-dark);
    margin-top: 30px;
    align-items: flex-start;
}
.tags label {
    font-weight: bold;
}

.tags hr {
    width: 100%;
    margin: 5px;
}

.tagsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

.tags ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

.tags span {
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 12px;
    color: green;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color-dark);
    font-weight: bold;
}


/** EventStatus **/

.eventStatus {
    display: flex;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 2px 4px;
    font-size: 12px;
    color: var(--error-color);
}

.eventStatus.ONGOING {
    background-color: rgb(83, 201, 83);
    color: white;
}

.eventStatus.FULL {
    background-color: #e99e2f;
    color: white;
}

/* EVENT BUTTON */

.eventActions {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: end;
    gap: 24px;
}

.buttonGroup {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, transform 0.2s;
    cursor: pointer;
}

.buttonGroup:hover {
    background-color: #f1f1f1;
    transform: translateY(-2px);
}

.heartIcon {
    color: #e53935;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.commentIcon {
    color: #1976d2;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.buttonGroup span {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

.joinButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin: 0 4px;
    margin-top: 10 px;
    transition: background-color 0.2s;
}

.joinButton:disabled {
    background-color: grey;
    cursor: default;
}
.joinButton:disabled:hover {
    background-color: grey;
}

.joinButton:hover {
    background-color: #388e3c;
}




@media (max-width: 768px) {
  .eventCard {
    flex-direction: column;
    width: 85vw;
    margin: 10px;
    height: auto;
    margin-left: 0;
    padding: 20px;
    align-items: center;
  }

  .eventImageLocationDate {
    max-width: 100%;
    padding: 10px;
    align-items: center;
  }

  .eventCard img {
    width: 180px;
    height: 180px;
  }

  .descriptionContainer {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .tags {
    margin-top: 20px;
    width: 100%;
  }

  .eventActions {
    position: static;
    justify-content: left;
    padding: 10px 0;
    width: 100%;
  }

  .feeInfo {
    align-items: right;
    padding: 10px;
  }

  .statusAndEventInfo {
    align-items: center;
    width: 100%;
  }

  .eventInfo {
    align-items: center;
  }

  .eventLocation,
  .eventTimeDate {
    flex-direction: column;
    gap: 10px;
  }
}

