body {
    background-color: #f5fcff;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 Q 10 0, 20 10 T 40 10 T 60 10' stroke='%23047857' stroke-width='1' fill='none' opacity='0.15'/%3E%3C/svg%3E");
  }
  

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 40vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10%;
    gap: 10px;
}

.formContainer p {
    font-size: 12px;
    color: var(--text-color);
    text-align: center;
}

.mmoLogo {
    position: relative;
    width: 20vw;
    height: 20vh;
}


.formContainer h1 {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 0px;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.formContainer form .link {
    position: relative;
    display: flex;
    justify-content: end;
    flex-direction: row;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 5px;
}

.inputElement {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-color-dark);
    padding: 4px 10px;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.inputElement:focus-within {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Mesela #047857 */
  }

  .formContainer form input {
    outline: none;
    border: none;
    box-shadow: none;
}



.formContainer form button {
    background-color: var(--button-color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    color: white;
    border: none;
    font-size: 16px;   
    cursor: pointer;
    margin-bottom: 20px;
}

.formContainer form button:hover {
    background-color: var(--button-hover-color);
}


.link {
    color: var(--link-color);
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}


.errorMessage {
    color: red;
    font-size: 0.85rem;
    margin-top: 4px;
}

@media (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        background-color: #f5fcff;
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 Q 10 0, 20 10 T 40 10 T 60 10' stroke='%23047857' stroke-width='1' fill='none' opacity='0.15'/%3E%3C/svg%3E");
        overflow-x: hidden;
    }
    
    html, body {
        height: 100%;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    
    
    .formContainer {
        width: 90vw;
        min-height: auto;
        padding: 1.5rem;
        box-shadow: none;
        border-radius: 0;
        margin: 0 auto;
    }

    .formContainer form input,
    .formContainer form button {
        width: 100%;
        font-size: 20px;
    }

    .formContainer h1 {
        font-size: 24px;
    }

    .formContainer p {
        font-size: 14px;
    }

    .formContainer img {
        height: 140px;
        width: auto;
    }

    .formContainer form link {
        display: flex;
        flex-direction: row;
        align-items: right;
    }
}


